.calculadora {
    width: 400px;
    margin: 0 auto;
    background-color: #c4a170;
    border-radius: 5px;
    box-shadow: 0 0 15px #ac885a;
    padding: 20px;
}

.display {
    display: flex;
    width: 100%;
    height: 100px;
    background-color:bisque;
    color:#ac885a;
    border-radius: 5px;
    font-family: fantasy;
    font-size: 40px;
    padding: 0 5px;
    text-align: right;
    margin-bottom: 20px;
}

.calculadora button {
    background-color:bisque;
    color: #ac885a;
    padding: 20px;
     border-radius: 5px;
     font-size: 1rem;
     cursor: pointer;
     border: 2px solid rgb(170, 139, 99);
     outline: none;
}

.calculadora button:hover {
    background-color: #c4a170;
    color:#ac885a;
}

.primeiros-botoes, .ultimos-botoes {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-gap: 10px;
}

.botoes-centrais {
    display: grid;
    grid-gap: 10px;
    margin: 10px 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

